<thead>
<tr>
    <th></th>
    {% for column in columns %}
        {% if column.listable %}
            <th class="column-header-{{ column.name }} column-header-type-{{ column.type }}">
                {% if column.sortable %}
                    {% set sortable = (sort_type == 'desc') ? 'asc' : 'desc' %}
                    <a class="sortable" href="{{ path(routes.index, {'page': page, 'sort': column.name, 'sort_type' : sortable }) }}"><i class="icon-arrow-{% if (sort_type == 'desc') and (sort == column.name) %}down{% else %}up{% endif %}">&nbsp;</i>&nbsp;{{ column.label|trans }}</a>
                {% else %}
                    {{ column.label|trans }}
                {% endif %}
            </th>
        {% endif %}
    {% endfor %}
    {% if not options.hide_actions is defined or (options.hide_actions is defined and not options.hide_actions) %}
        {% for action in grid.actions.getByType('object') %}
            <th class="object-action-header propel-admin-action-header">{{ action.label|trans }}</th>
        {% endfor %}
        {% if grid.nativeActions.getByType('object')|length %}
            <th class="object-action-header propel-admin-native-actions-header" colspan="{{ grid.nativeActions.getByType('object')|length }}">{{ 'Actions'|trans }}</th>
        {% endif %}
    {% endif %}
</tr>
</thead>