<tr id="object{{ item.id }}" data-id="{{ item.id }}">
    <td class="filter-checkbox"><input type="checkbox" class="admin_item_checkbox" data-item="{{ item.__toString() }}" name="checkbox[]" id="checkbox{{ item.id }}" value="{{ item.id }}"></td>
    {% for column in columns %}
        {% if column.listable %}
            <td class="column-{{ column.name }} column-type-{{ column.type }} propel-admin-object-action">
                {% if column.type == 'collection' %}
                    {% set coll = attribute(item, column.getter) %}
                    {% for item in coll %}
                        {{ item }}
                    {% endfor %}
                {% else %}
                    {% include column.template('list') with {"item": item, "column": column } %}
                {% endif %}
            </td>
        {% endif %}
    {% endfor %}

    {% if not options.hide_actions is defined or (options.hide_actions is defined and not options.hide_actions) %}
        {% for action in grid.actions.getByType('object')  %}
            {% include action.template with {'action': action, 'item': item } %}
        {% endfor %}

        <td class="propel-admin-native-action">
            <div class="btn-group">
                {% for action in grid.nativeActions.getByType('object')  %}
                    <a class="btn {% if action.label == 'Delete' %}btn-danger{% endif %}"
                       href="{{ path(action.route, { 'id': item.id }) }}">
                        {% if action.label == 'Delete' %}
                            <i class="icon-remove"></i>
                        {% elseif action.label == 'Edit'%}
                            <i class="icon-edit"></i>
                        {% else %}
                        <i class="icon-align-left"></i>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        </td>
    {% endif %}
</tr>
