{% extends layout %}

{% block content %}

    {% block admin_action_edit_title %}
    {% endblock %}

    <form class="form form-horizontal" action="{{ path(routes.update, {"id": form.vars.value.id }) }}" method="post" {{ form_enctype(form) }}>
        <legend>{{ 'Edit'|trans }}</legend>
        <div class="propel-admin-form propel-admin-edit-form">
            {{ form_errors(form) }}
            {% for column in columns %}
                {% if column.editable %}
                    {{ form_row(attribute(form, column.name)) }}
                {% endif %}
            {% endfor %}
            {{ form_row(form._token) }}
        </div>
        <div class="well">
            <a href="{{ path(routes.index) }}" class="btn">{{ 'Back'|trans }}</a>
            <button name="save" class="submit btn btn-primary">{{ 'Save'|trans }}</button>
            <button name="save_and_return" class="submit btn btn-primary">{{ 'Save and return'|trans }}</button>
        </div>
    </form>
{% endblock %}